{:port   3000
 :sqldbm {:pets {:hikaricp-config "config/connection-pool.properties"
                 :driver          :h2
                 :auto-migrate?   true
                 :create-drop?    true
                 :migrations      ["classpath:config/migrations"]}}}
